.purple {
    background-color: purple;
}
.white {
    background-color: white;
}
.green {
    background-color: green;
}
.cyan {
    background-color: cyan ;
}
.blue {
    background-color: blue;
}
.gray {
    background-color:gray;
}
